#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: left; */
}

 #parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: space-between; */
  /* margin-right: 10px; */
  /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

